      - name: OCR Batch ausführen
        # Hier stand vorher sentinel_ocr.py -> Wir ändern es auf DEINEN Dateinamen:
        run: python -u sentinel_final.py

      - name: Fortschritt und Daten speichern
        run: |
          git config --global user.name "Aureum-Bot"
          git config --global user.email "bot@aureum.com"
          git add sentinel_history.csv sentinel_data.txt
          git commit -m "OCR Update" || echo "Kein Update"
          git push
